version: '3.8'

services:
  odoo:
    # Construir desde Dockerfile personalizado que incluye odoo.conf
    build:
      context: .
      dockerfile: Dockerfile
    container_name: odoo_app
    ports:
      - "8069:8069"
    volumes:
      # Persistencia de archivos (imágenes, facturas, etc.)
      - odoo-data:/var/lib/odoo
      # Mapeo de tus módulos personalizados desde tu repo de GitHub
      - ./extra-addons:/mnt/extra-addons
    environment:
          - HOST=${HOST}
          - USER=${USER}
          - PASSWORD=${PASSWORD}
    restart: always
    networks:
      - coolify
networks:
  # Definimos que la red 'coolify' ya existe y no debe crearla de cero
  coolify:
    external: true
volumes:
  odoo-data:
